<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="Settings.config">
    <add key="marketo:clientid" value="" />
    <add key="marketo:clientsecret" value="" />
    <add key="marketo:authuri" value="https://232-OQW-357.mktorest.com/identity/"/>
    <add key="marketo:apiuri"  value="https://232-OQW-357.mktorest.com/rest/v1/"/>
  </appSettings>
</configuration>