<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="Settings.config">
    <add key="marketo:clientid" value="" />
    <add key="marketo:clientsecret" value="" />
    <add key="marketo:authuri" value=""/>
    <add key="marketo:apiuri"  value=""/>
  </appSettings>
</configuration>